<!DOCTYPE html>
<html>
<head>
  <title>Chennai Flood Stat 2015 Reviews Analysis</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/style.css">
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">ChennaiRains</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x120/white/text:100x120">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>


          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x265/white/text:100x265">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x265/white/text:100x265">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Area Map
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x324/white/text:100x324">
          </div>
          <div class="chart-notes">
            Areas affected by Flood
            <div id="container">
              
            </div>

          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x60/white/text:100x60">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x60/white/text:100x60">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

    </div>

  </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/holder.js"></script>

  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script src="./static/lib/js/keen.min.js"></script>
  <script src="./static/lib/js/meta.js"></script>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src='./static/js/graph.js' type='text/javascript'></script>
  <script src="./static/js/init_map.js"></script>

  <script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/in/in-all.js"></script>

<d

</body>
</html>
